// .v--modal-overlay {
//   position: absolute;
//   box-sizing: border-box;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100vh;
//   background: rgba(0, 0, 0, 0.2);
//   z-index: 0;
//   opacity: 1;
// }
// .v--modal-overlay.scrollable {
//   height: 100%;
//   min-height: 100vh;
//   overflow-y: auto;
//   -webkit-overflow-scrolling: touch;
// }
// .v--modal-overlay .v--modal-background-click {
//   width: 100%;
//   min-height: 100%;
//   height: auto;
// }
.v--modal-overlay {
  position: fixed;
}
.v--modal-box {
  position: fixed;
  background-color: black;
}
// .v--modal-overlay.scrollable .v--modal-box {
//   margin-bottom: 2px;
// }

.v--modal {
  background: center;
  background-color: black;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
  padding: 0;
  visibility: inherit;
}
.v--modal.v--modal-fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  left: 0;
  top: 0;
  background: center;
}
.v--modal-top-right {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
